<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script  defer src="/socket.io/socket.io.js"></script>
  <script  defer src="script.js" type="text/javascript"></script>
  <link  rel='stylesheet' href = 'style.css'/>
  <link rel="icon" href="logos/teams_icon.ico" />
  <title>Teams Meeting</title>
</head>
<body>
  <header id='navbar'>
    <div id="teams-logo"></div>
    <div id="user-logo"></div>
  </header>
  <div id="main-pannel">
    <div class="video-container">

      <div id="video-grid"></div>
    </div>
  <div class="msg-pannel">
    <div class="msg-header">
       <h5>Chat-Box</h5>
    </div>
    <div class="main-chat-window">
       <ul class="messages">
       </ul>
    </div>
    <div class="main-message-container">
       <input id="chat-message" type="text" placeholder="Type message here...">
    </div>
 </div>
</div>
  <footer></footer>
</body>
</html>