<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>";
    const MY_NAME = "<%= user %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script  defer src="/socket.io/socket.io.js"></script>
  <script  defer src="script.js" type="text/javascript"></script>
  <script  defer src="scripts/peer-socket-connection.js" type="text/javascript"></script>
  <script  defer src="scripts/call-control.js" type="text/javascript"></script>
  <script  defer src="scripts/button-control.js" type="text/javascript"></script>
  <link  rel='stylesheet' href = 'style.css'/>
  <link  rel='stylesheet' href = 'stylesheets/navbar.css'/>
  <link  rel='stylesheet' href = 'stylesheets/main-content.css'/>
  <link  rel='stylesheet' href = 'stylesheets/sidebar.css'/>
  <link  rel='stylesheet' href = 'stylesheets/messages.css'/>
  <link  rel='stylesheet' href = 'stylesheets/footer.css'/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="logos/teams_icon.ico" />
  <title>Teams Meeting</title>
</head>
<body>
  <header id='navbar'>
    <div id='teams-logo-container'>
      <img id="teams-logo" class='navbar-logo' src='logos/teams.png'  alt='Teams Logos'/>
    </div>
    <div class='navbar-logo-left'>
      <img id="mute-button" class='navbar-logo ' src='logos/mute.png'  alt='Button'/>
        <img id="video-on-off-button" class='navbar-logo' src='logos/video-on.png'  alt='Button'/>
        <img id="call-end" class='navbar-logo' src='logos/phone-call-end.png'  alt='Button'/>
        <img id="user-logo" class='navbar-logo' src='logos/user.png'  alt='Button'/>
    </div>
  </header>
  <div id="sidebar">
    <div id='calender-clock-container'>
      <div id="calender-img-container">
        <img id='calender-img' src='logos/calender.png' alt='calender'>

      </div>
    </div>
  </div>
  <div id="main-pannel">
    <div class="video-container">

      <div id="video-grid"></div>
    </div>
  <div class="msg-pannel">
    <div class="msg-header">
       <h5>Chat-Box</h5>
       <hr/>
    </div>
    <div id="main-chat-window">
       <ul id="messages">
       </ul>
    </div>
    <div class="main-message-container">
       <input id="chat-message" type="text" placeholder="Type message here...">
    </div>
 </div>
<iframe id='google-calender' class = "w3-animate-opacity"src="https://calendar.google.com/calendar/embed?src=0osbnpsm0bj4j8lhmq5k7edf58%40group.calendar.google.com&ctz=Asia%2FKolkata" ></iframe> -->
</div>
  <footer></footer>
</body>
</html>