#sidebar{
    position:fixed;
    top:5vh;
    left:0;
    width: 3vw;
    background-color: #242324;;
    height: 95vh;
    z-index: 1;
  }
  #calender-clock-container{
    margin-left: 0.3vw;
  }
  #calender-img{
    width: 2.5vw;
    height: auto;
    margin-top: 1vh;
  }
  #calender-img:active{
    margin-top: 0vh;
    transition: all 0.2s ease-in-out;
  }
  #google-calender{
    display: none;
    position: fixed;
    top:8vh;
    left:4vw;
    width: 40vw;
    height: 60vh;
    border:solid 2px blue;
    border-radius: 4px;
    box-shadow: blue;
  }
  